.special-background-effect {
  --size: 20px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: #000000; /* background */
  overflow: hidden;
}

.special-background-effect::before {
  content: "";
  position: absolute;
  z-index: 1;

  inset: 0;
  background-image: conic-gradient(
    from 180deg at 50% 70%,
    hsla(0, 0%, 98%, 1) 0deg,
    #fd38f0 72deg,
    #fd38f0 144deg,
    #fd38f0 216deg,
    #fd38f0 288deg,
    hsla(0, 0%, 98%, 1) 1turn
  );

  -webkit-mask:
    radial-gradient(circle at 50% 50%, white 2px, transparent 2.5px) 50% 50% /
      var(--size) var(--size),
    url("https://assets.codepen.io/605876/noise-mask.png") 256px 50% / 256px
      256px;
  mask:
    radial-gradient(circle at 50% 50%, white 2px, transparent 2.5px) 50% 50% /
      var(--size) var(--size),
    url("https://assets.codepen.io/605876/noise-mask.png") 256px 50% / 256px
      256px;
  -webkit-mask-composite: intersect;
  mask-composite: intersect;

  animation: flicker 20s infinite linear;
  z-index: 1;
  pointer-events: none;
}

.special-effect-background > * {
  position: relative;
  z-index: 2;
}

@keyframes flicker {
  to {
    -webkit-mask-position:
      50% 50%,
      0 50%;
    mask-position:
      50% 50%,
      0 50%;
  }
}

